<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>| HealthKart.com</title>
    <link
      rel="shortcut icon"
      href="https://th.bing.com/th/id/OIP.x17IKVl58-xVsu15yk8trQAAAA?pid=ImgDet&rs=1"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/css/login.css" />
  </head>
  <body>
    <div class="login-bg">
      <div class="login-content">
        <div class="login-text">
          <h2>Why Login?</h2>
          <p>
            <i class="fas fa-check-circle"></i> Over 1.5 million satisfied
            customers
          </p>
          <p><i class="fas fa-check-circle"></i> Earn HK cash on every order</p>
          <p>
            <i class="fas fa-check-circle"></i> Get personal fitness expert
            advice
          </p>
        </div>
        <div class="login-input">
          <h2>Login</h2>
          <legend>User Name</legend>
          <input
            type="text"
            name=""
            id="username"
            placeholder="enter your name"
          />
        
          <legend>Password</legend>
          <input
            type="password"
            id="password"
            placeholder="enter your password"
          />
          <button onclick="check()">Login</button>
        </div>
        <span class="modal-close">X</span>
      </div>
    </div>
  </body>
</html>
<script src="/static/scripts/login.js"></script>
