<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>| HealthKart.com</title>
    <link
      rel="shortcut icon"
      href="https://th.bing.com/th/id/OIP.x17IKVl58-xVsu15yk8trQAAAA?pid=ImgDet&rs=1"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/css/payment.css" />
    <link rel="stylesheet" href="/static/css/navbaar.css" />
    <link rel="stylesheet" href="/static/css/cartComponents.css" />
  </head>

  <body>
    <div class="nav_bar">
      <div class="logo_title">
        <a href="https://healthkart-clone.herokuapp.com/users/web"
          ><h1>HEALT<span class="logo">HK</span>ART</h1></a
        >
      </div>

      <div class="current_page">
        <div>
          <span>
            <img src="/static/components/blackcheck.png" alt="" class="check" />
          </span>
          <span>CART -------------------</span>
          <span>
            <img src="/static/components/blackcheck.png" alt="" class="check" />
          </span>
          <span>ADDRESS -------------------</span>
          <span>
            <img src="/static/components/check.png" alt="" class="check" />
          </span>
          <span>PAYMENT</span>
        </div>
      </div>
    </div>

    <h1>Choose payment options</h1>
    <div class="debit-card">Debit Card</div>
    <div id="debit-card-details"></div>
    <div class="COD">Cash On delivery</div>
  </body>
</html>

<script src="/static/scripts/payment.js"></script>
<script src="/static/scripts/navbaar.js"></script>
