<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>| HealthKart.com</title>
    <link
      rel="shortcut icon"
      href="https://th.bing.com/th/id/OIP.x17IKVl58-xVsu15yk8trQAAAA?pid=ImgDet&rs=1"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/css/login.css" />
    <script
      src="https://kit.fontawesome.com/249783f98b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- <button class="signup-btn">SignUp</button> -->

    <div class="signup-bg">
      <div class="signup-content">
        <div class="signup-text">
          <h2>Why Sign Up?</h2>
          <p>
            <i class="fas fa-check-circle"></i> Over 1.5 million satisfied
            customers
          </p>
          <p><i class="fas fa-check-circle"></i> Earn HK cash on every order</p>
          <p>
            <i class="fas fa-check-circle"></i> Get personal fitness expert
            advice
          </p>
        </div>
        <div class="signup-input">
          <h2>Signup</h2>
          <legend>User Name</legend>
          <input
            type="text"
            name=""
            id="username"
            placeholder="enter your name"
          />
          <legend>Email</legend>
          <input type="email" id="email" placeholder="enter your email" />
          <legend>Password</legend>
          <input
            type="password"
            id="password"
            placeholder="enter your password"
          />
          <button onclick="store()">SignIn</button>
        </div>
        <span class="modal-close">X</span>
      </div>
    </div>
  </body>
</html>
<script src="/static/scripts/signup.js"></script>
