<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>| HealthKart.com</title>
    <link
      rel="shortcut icon"
      href="https://th.bing.com/th/id/OIP.x17IKVl58-xVsu15yk8trQAAAA?pid=ImgDet&rs=1"
      type="image/x-icon"
    />
  </head>
  <style>
    #sucess_page {
      width: 450px;
      margin: auto;
      text-align: center;
    }
  </style>
  <body>
    <div id="sucess_page">
      <img src="https://i.stack.imgur.com/ZRTb6.gif" alt="" />
      <h1>Order Sucessfully Placed</h1>
      <h1>Thank You & Keep Shopping</h1>
      <button onclick="home()">Home</button>
    </div>
  </body>
</html>
<script>
  function home() {
    window.location.href = "http://localhost:3452/users/web";
  }
</script>
